{% extends "BDEShopBundle::layoutShop.html.twig" %}

{% block title %}
    Acheter un  - {{ parent() }}
{% endblock %}

{% block bodyshop %}
    <h1>
        PAGE ARTICLE DU SITE
    </h1>
    <h2>
        URL : /SHOP/ARTICLE/{ID}
    </h2>

    <p>
        {{ numPage }}
    </p>

    <img src={{ asset(article.picture) }}>
    <br/>
    {{ article.name }}
    {{ article.description }}
    {{ article.priceTTC }}
    <br/>
    </a>

{% endblock %}