{% extends "BDEShopBundle::layoutShop.html.twig" %}

{% block title %}
    Shop {{ parent() }}
{% endblock %}

{% block bodyshop %}
    <h1>
        PAGE SHOP DU SITE
    </h1>
    <h2>
        URL : /SHOP
    </h2>

    TOP 3 ARTICLES:
    <br/>
    {% for article in toparticle|slice(0,3) %}
        <a href="{{ path('bde_shop_view', {'id': article.id}) }}">
        <img src={{ asset(article.picture) }}>
        <br/>
        {{ article.name }}
        {{ article.price }}
        <br/>
    {% endfor %}

    <br/><br/><br/><br/><br/>

    LES ARTICLES:
    <br/>
    {% for article in articles %}
        <a href="{{ path('bde_shop_view', {'id': article.id}) }}">
            <img src={{ asset(article.picture) }}>
            <br/>
            {{ article.name }}
            {{ article.priceTTC }}
            <br/>
        </a>
    {% endfor %}
{% endblock %}