{% extends "BDEShopBundle::layoutShop.html.twig" %}

{% set test = 1 %}

{% block title %}
Shop {{ parent() }}
{% endblock %}

{% block bodyshop %}

<h1>La boutique</h1><br><br>
<div class="container">

    <p class="lead text-muted mb-0">Procurez-vous les derniers goodies de l'école, ainsi que les différents
        produits mis en vente par le BDE !</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-3">
                <div class="card bg-light mb-3">
                    <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> &nbsp;Filtrer
                    </div>
                    <ul class="list-group category_block">
                        <li class="list-group-item"><a href="{{ path('bde_shop_index')}}">Tous les produits</a></li>
                        <li class="list-group-item"><a href="{{ path('bde_shop_tribyprice')}}">Par prix</a></li>
                        <li class="list-group-item"><a href="{{ path('bde_shop_tribyletter')}}">Par ordre alphabétique</a></li>
                    </ul>
                </div>
                <div class="card bg-light mb-3">
                    <div class="card-header bg-success text-white text-uppercase">Top produits</div>
                    <div class="card-body-carousel">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    {% for article in toparticle[0:1] %}
                                    <a href="{{ path('bde_shop_view', {'id': article.id}) }}">
                                        <img class="d-block w-100" src="{{ asset(article.picture) }}"
                                        alt="First slide">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h4 class="card-title"><b> {{ article.name }}</b></h4>
                                        </div>
                                    </a>
                                    {% endfor %}
                                </div>
                                <div class="carousel-item">
                                    {% for article in toparticle[1:1] %}
                                    <a href="{{ path('bde_shop_view', {'id': article.id}) }}">
                                        <img class="d-block w-100" src="{{ asset(article.picture) }}"
                                        alt="First slide">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h4 class="card-title"><b> {{ article.name }}</b></h4>
                                        </div>
                                    </a>
                                    {% endfor %}
                                </div>
                                <div class="carousel-item">
                                    {% for article in toparticle[2:1] %}
                                    <a href="{{ path('bde_shop_view', {'id': article.id}) }}">
                                        <img class="d-block w-100" src="{{ asset(article.picture) }}"
                                        alt="First slide">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h4 class="card-title"><b> {{ article.name }}</b></h4>
                                        </div>
                                    </a>
                                    {% endfor %}
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                        data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>


            <div class="col">
                <div class="row">


                    {% block tri %}
                    {% for article in articles %}
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="card">
                                <img class="card-img-top" src="{{ asset(article.picture) }}"
                                     alt="Card image cap">
                                <div class="card-body"
                                     onclick="location.href = '{{ path('bde_shop_view', {'id' : article.id}) }}';">
                                    <h4 class="card-title"><a
                                                href="{{ path('bde_shop_view', {'id' : article.id}) }}"
                                                title="View Product">{{ article.name }}</a>
                                    </h4>
                                    <p class="card-text">{{ article.description }}</p>
                                    <div class="row">
                                        <div class="col">
                                            <p class="btnShopPrix">{{ article.priceTTC }} €</p>
                                        </div>
                                        <div class="col">
                                            <a href="#" class="btnShop">Acheter</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% endblock %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

</div>
</div>
{% endblock %}
