{% extends "BDECoreBundle::layout.html.twig" %}

{% block title %}
    Register - {{ parent() }}
{% endblock %}

{% block body %}
    <h2>
        &nbsp;&nbsp;&nbsp;{{ message }}
    </h2>



    <form action="{{ path('bde_account_register') }}" method="post" {{ form_start(formregister) }}
    {{ form_errors(formregister) }}

    {{ form_row(formregister.email) }}
    {{ form_row(formregister.name) }}
    {{ form_row(formregister.surname) }}
    {{ form_row(formregister.password) }}

    {{ form_rest(formregister) }}

    <input type="submit" value="S'inscrire"/>
    </form>


{% endblock %}