{% extends "BDECoreBundle::layout.html.twig" %}

{% block title %}
    BDE Cesi
{% endblock %}

{% block body %}
    <center>
        <h1>Les Événements</h1><br><br>
    </center>
    <section class="jumbotron text-center">
        <div class="container">

            <p class="lead text-muted mb-0">Retrouvez ici la liste des événements à venir. Vous pouvez simplement les
                consulter mais également vous y inscrire. </p>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="card bg-light mb-3">
                    <div class="card-header bg-success text-white text-uppercase"><i
                                class="glyphicon glyphicon-edit"></i>&nbsp;&nbsp;Boite à idée
                    </div>

                    <div class="card-body" style="padding-bottom:0px;text-align: center">

                        <a href="{{ path('bde_event_addSuggestion') }}">
                            <div class="sim-button button28 boxid"><span
                                        style="font-size: 12px">Proposer une idée</span></div>
                        </a>

                        <i class="fa fa-lightbulb-o" style="font-size:55px"></i>
                        <br><br>
                        <a href="{{ path('bde_event_suggestion') }}">
                            <div class="sim-button button28 boxid"><span style="font-size: 12px">Liste des idées</span>
                            </div>
                        </a>

                    </div>
                </div>
                <div class="card bg-light mb-3">
                    <div class="card-header bg-success text-white text-uppercase">Dernières Idées</div>

                    <div class="card-body">

                        <ul class="list-group category_block">

                            {% for events in listEvents %}
                                {% if events.isapproved == 0 %}

                                    <li class="list-group-item"><a href="{{ path('bde_event_viewevent', {'id' : events.id}) }}" class="lastid">{{ events.name }}</a>
                                        <div class="voteid">&nbsp;<a class="fa fa-ellipsis-h" href="{{ path('bde_event_viewevent', {'id' : events.id}) }}"
                                                                     style="    color: #C2242A;"></a>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}

                        </ul>

                    </div>
                </div>
            </div>


            {% block bodyevent %}

            {% endblock %}
        </div>
    </div>



{% endblock %}
