{% extends "BDEAdminBundle::layoutadmin.html.twig" %}

            {% block bodyadmin %}


                <div class="container contentAdmin">
                    <div class="row">
                        <div class="col">
                            Gestion des utilisateurs <br><br>
                            <button type="button" class="btnAddEvent" data-toggle="modal" data-target="#exampleModal">
                                Afficher les utilisateurs
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Liste des utilisateurs</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-12 ">
                                                    {% for users in listUsers %}

                                                        <a href="{{ path('bde_admin_viewuser', {'id' : users.id} ) }}">
                                                            <div class="listUser">{{ users.name }}  {{ users.surname }}

                                                                <br></div>
                                                        </a>

                                                    {% endfor %}
                                                </div>

                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btnAddEvent" data-dismiss="modal">Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br><br>
                            <button type="button" class="btnAddEvent">
                                Recuperer la liste des inscrits a un événement
                            </button>

                        </div>
                        <div class="col bordureAdmin">
                            Gestion des événements<br><br>

                            <button type="button" class="btnAddEvent" data-toggle="modal" data-target="#eventModal">
                                Afficher les idées
                            </button>
                            <br><br>
                            <a href="{{ path('bde_event_add') }}">
                                <button type="button" class="btnAddEvent">
                                    Ajouter un événement
                                </button>
                            </a><br><br>
                            <button type="button" class="btnAddEvent">
                                Ajouter un article dans la boutique
                            </button>
                            <div class="modal fade" id="eventModal" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Liste des idées</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-12 ">
                                                    {% for events in listEvents %}

                                                        {% if events.isapproved == 0 %}
                                                            <a href="{{ path('bde_admin_viewsuggestion', {'id' : events.id} ) }}">

                                                                <div class="listUser">{{ events.name }},</a> le {{ events.date|date('d-m-Y') }}<br><br></div>

                                                        {% endif %}

                                                    {% endfor %}
                                                </div>

                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btnAddEvent" data-dismiss="modal">Fermer
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>


            {% endblock %}