

<div class="well">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}


    {{ form_errors(form) }}

  {% if form.date is defined %}
    <h6>  {{ form_row(form.date) }}</h6>
        {% endif %}

    <div class="form-group">
        {{ form_label(form.name, "Nom de l'evenement") }}

        {{ form_errors(form.name) }}


            {{ form_widget(form.name) }}

    </div>

    <div class="form-group">
        {{ form_label(form.description, "Description de l'evenement") }}
        {{ form_errors(form.description) }}

            {{ form_widget(form.description) }}

    </div>


    <div class="form-group">
        {{ form_label(form.place, "Lieu") }}

        {{ form_errors(form.place) }}


        {{ form_widget(form.place)}}

    </div>
    {{ form_row(form.type) }}



    {{ form_row(form.pricettc, { 'label': 'Prix (TTC)' }) }}


    {% if form.events_picture is defined %}

    {{ form_label(form.events_picture, "Images") }}

    <ul class="events_picture" data-prototype="{{ form_widget(form.events_picture.vars.prototype)|e('html_attr') }}">
        {% for element in form.events_picture %}
            <li>
                {{ form_row(element.picture) }}
            </li>
        {% endfor %}
    </ul>
    {% endif %}

    {{ form_widget(form.save, { 'label': 'Ajouter' }) }}



    {{ form_end(form) }}
</div>


