{% extends "BDEEventBundle::layoutEvent.html.twig" %}

{% block title %}
    titre {{ parent() }}
{% endblock %}

{% block bodyevent %}

<div class="col" style="border-bottom: solid 1px #888888;padding-bottom:20px;" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-12 bande">
            <div class=" col-12 col-lg-4"><br><br><br><br>
                <div class="card">
                    {% for images in events.events_picture[0:1] %}
                        <img class="card-img-top" src="{{ asset('upload/'~images.picture) }}">
                    {% endfor %}
                </div>
                <br>


            </div>
            <div class=" col-12 col-lg-8">
                <div>
                    <h3 class="card-title">{{ events.name }}</h3>
                    <h6 class="author">Événement créé par Benjamin Barbé.</h6>
                    <div class="row">
                        <div class="col-6" style="padding-left: 55px;"><h4>Gratuit</h4></div>
                        <div class="col-6" style="text-align:right;"><h4>Le {{ events.date|date('d-m-Y') }}</h4></div>

                    </div>

                    <br><br>
                    <p class="card-text">{{ events.description }} Et interdum acciderat, ut siquid in penetrali
                        secreto nullo citerioris vitae ministro praesente paterfamilias uxori susurrasset in
                        aurem, velut Amphiarao referente aut Marcio, quondam vatibus inclitis, postridie
                        disceret imperator. ideoque etiam parietes arcanorum soli conscii timebantur.

                    <div class="row">
                        <div class="col pos">
                            <a href="{{ path('bde_event_suggestion') }}">


                                {% if events.isapproved == 1 %}

                                <div class="sim-button button28"><span><b>S'inscrire</b></span></div>
                                {% endif %}

                            </a>

                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-12">
            <div class="row">

                <div class="col-6">
                    Lieu de l'événement : {{ events.place }}
                    <iframe
                            width="400"
                            height="300"
                            frameborder="0" style="border:0"
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAQSoMI9NoXV-nfA0q23vecpWZFZm44Sc8&q={{ events.place }}"
                            allowfullscreen>
                    </iframe>
                </div>

            </div>

            <div class="row">
                <div class="col-12">
                    <br>
                    <div class="titlecom title_line"><h3>Commentaires</h3></div>
                    <br>
                    {{ form(form) }}

                    {% for comments in listComments|sort|reverse %}

                        <h5 class="italic">{{ comments.authorname }} {{ comments.authorsurname }}, le {{ comments.date|date }}</h5>

                        {{ comments.content }}
                        <br>
                        <br>
                        <br>

                    {% endfor %}

                </div>
            </div>

        </div>

        <div style="float: right;padding-top:5%;">
            <p>
                <a href="{{ path('bde_event_index') }}" class="btnCart">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    Retour
                </a>&nbsp;
                <a href="{{ path('bde_event_edit', {'id': events.id}) }}" class="btnCart">
                    <i class="glyphicon glyphicon-edit"></i>
                    Modifier
                </a>&nbsp;
                <a href="{{ path('bde_event_delete', {'id': events.id}) }}" class="btnCartSupp">
                    <i class="glyphicon glyphicon-trash"></i>
                    Supprimer
                </a>
            </p>
        </div>
    </div>
    <!--{{ events.name }}

    {{ events.place }}

    {{ events.description }}

    {{ events.type }}

    {{ events.pricettc }}

    {{ events.date|date('d/m/Y') }}-->


    {% endblock %}
